.addedNotification {
  color: rgb(3, 104, 3);
  border: solid 3px rgb(3, 104, 3);
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
  width: 50%;
}

.updateNotification {
  color: rgb(241, 168, 31);
  border: solid 3px rgb(241, 168, 31);
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
  width: 50%;
}

.deleteNotification {
  color: rgb(163, 52, 0);
  border: solid 3px rgb(163, 52, 0);
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
  width: 50%;
}

.error {
  color: rgb(163, 52, 0);
  border: solid 3px rgb(163, 52, 0);
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
  width: 50%;
}
